<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação Iris</title>
</head>

<body>
    <h1>Classificação Iris</h1>
    <!-- Setosa
    5.4, 3.7, 1.5, 0.2 -->
    <!-- Setosa
    6.4, 3.2, 4.5, 1.5 -->
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <div class="input-container">
            <label for="sepal_l">Largura Sepala</label>
            <input type="number" name="sepal_l" step="0.01">
        </div>
        <div class="input-container">
            <label for="sepal_w">Comprimento Sepala</label>
            <input type="number" name="sepal_w" step="0.01">
        </div>
        <div class="input-container">
            <label for="petal_l">Largura Petala</label>
            <input type="number" name="petal_l" step="0.01">
        </div>
        <div class="input-container">
            <label for="petal_w">Comprimento Petala</label>
            <input type="number" name="petal_w" step="0.01">
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>

</html>